# Fichier contenant des informations confidentielles
.env

# Fichiers générés par les dépendances et Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
/vendor
.idea/
.DS_Store

# Fichiers générés par VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.vs/